<section>
    <div class="centre">
                <h1>Login</h1>
                <form (ngSubmit)="usersLogin()">
                    <div class="txt_field">
                        <input type="text" [(ngModel)]="users.email" id="username" name="username" />
                        <label>User Name</label>
                    </div>
                    <div class="txt_field">
                        <input type="Password" [(ngModel)]="users.password" id="password" name="password" >
                        <label>Password</label>
                    </div>
                    <div class="font">
                        <div class="pass"><a href="#">Forgot password ?</a></div>
                            <button type="submit" class="btn-btn-primary"><a href="#">Log In</a></button>
                        <div class="signup_link">
                            Not a member?<button ><a routerLink="/signup">Sign Up</a></button>
                        </div>
                    </div>
                </form>
    </div>
</section>

