#login{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    height: 100vh;
    overflow: hidden;
}
.centre{
    position: absolute;
    top: 30%;
    left: 37%;
    transform: translate(-50%,-50%,);
    width: 400px;
    background: white;
    border-radius: 10px 15px;

}
.centre1{
    position: absolute;
    top: 27%;
    left: 37%;
    transform: translate(-50%,-50%,);
    width: 400px;
    background: white;
    border-radius: 10px 15px;

}
.centre h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.centre1 h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.centre form{
    padding: 0 40px;
    box-sizing: border-box;
}
.centre1 form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.font a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 15px;
}
.pass{
    margin: -5px 0 20px 5px;
    cursor: pointer;  
}
.pass:hover{
    text-decoration: underline;
}
button{
    border: 2px solid #fff;
    padding: 13px 30px;
    color: #fd0000;
    font-size: 18px;
    font-weight: 500;
}
button:hover{
    border: none;
    background-color: #ff9b51;
    cursor: pointer;
}